/* ----------------------------------- */
/* fonts */
/* ----------------------------------- */
@font-face {
  font-family: "YeogiOttaeJalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChangwonDanggamAsak";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

@font-face {
  font-family: "Galmuri11";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/Galmuri11-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "PartialSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* ----------------------------------- */
/* 공통사항 */
/* ----------------------------------- */

* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}
img {
  display: block;
}
ul {
  list-style: none;
}
body {
  background-color: #181818;
  width: 100%;
}

/* ----------------------------------- */
/* header */
/* ----------------------------------- */
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #181818;
  color: #fff;
  z-index: 9999;
  /* border-bottom: 1px solid #ccc; */
  box-sizing: border-box;
  transition: transform 0.3s ease;
  box-shadow: 0px 3px 20px rgba(255, 153, 0, 0.5);
}
header.hide {
  transform: translateY(-100%);
}

header .inner {
  width: 1700px;
  margin: 0px auto;
  height: 100%;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  height: 100%;
  padding: 4px 0px;
  box-sizing: border-box;
}
header h1 a {
  height: 100%;
  display: block;
}
header h1 img {
  height: 100%;
}
header .gnb {
  display: flex;
}
.gnb li {
  width: 100px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.gnb li:last-child {
  position: relative;
  border-radius: 50%;
  transition: background-color 0.5s;
}
.gnb li:last-child::before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  position: absolute;
  content: "";
  border: 1px solid #ff1b60;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
}
.gnb li:last-child::after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  position: absolute;
  content: "";
  border: 1px solid #ff1b60;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  pointer-events: none;
}
.gnb li:last-child.on::before {
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.gnb li:last-child.on::after {
  transform: translate(-50%, -50%);
  z-index: 0;
}
.gnb li:last-child:hover {
  background-color: #ff1b60;
}

/* ----------------------------------- */
/* main */
/* ----------------------------------- */
main {
  padding-top: 80px;
  width: 100%;
  height: auto;
}
.sectionTitle {
  font-family: "Paperozi";
  font-weight: 800;
  font-size: 52px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  z-index: 44;
  /* background-color: red; */
}
.sectionTitle .inner {
  margin: 0px auto;
  width: 100%;
  max-width: 1700px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sectionTitle .inner .sectionName {
  display: flex;
  gap: 8px;
  align-items: center;
}
.sectionTitle .blink {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #ff9f00;
  animation: blinking 3s linear infinite;
  display: flex;
  align-items: center;
}
@keyframes blinking {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.sectionTitle h3 {
  font-size: 40px;
}

.sectionTitle .subTitle {
  position: relative;
  font-size: 26px;
  font-weight: normal;
}
.sectionTitle .subTitle_line {
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0px;
  bottom: 36px;
  z-index: -1;
  background-color: #f44f55;
}
/* ----------------------------------- */
/* about */
/* ----------------------------------- */
#about {
  height: 100vh;
  width: 100%;
}
#about .inner {
  width: 1700px;
  position: relative;
  margin: 0px auto;
  height: 100%;
}

/* ----------------------------------- */
/* works 공통 */
/* ----------------------------------- */

#works {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#works .sectionTitle {
  font-family: "Paperozi";
  font-weight: 800;
  font-size: 52px;
  height: 100px;
  line-height: 100px;
  color: #fff;
  z-index: 44;
  position: sticky;
  top: 0;
  background-color: #181818;
  width: 100%;
}

#works .sectionTitle .inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1700px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#works .sectionTitle .sectionName {
  display: flex;
  gap: 8px;
  align-items: center;
}

#works .sectionTitle .blink {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: #ff9f00;
  animation: blinking 3s linear infinite;
  display: flex;
  align-items: center;
}

#works .sectionTitle h3 {
  font-size: 40px;
}

#works .sectionTitle .subTitle {
  position: relative;
  font-size: 26px;
  font-weight: normal;
  margin-left: 16px;
}

#works .sectionTitle .subTitle_line {
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: 36px;
  z-index: -1;
  background-color: #f44f55;
}

/* ----------------------------------- */
/* projectOverview */
/* ----------------------------------- */

#works .interactive-project {
  position: relative;
}

.interactive-project .projectOverview {
  position: relative;
  width: 100%;
  height: 100vh;
}

.interactive-project .projectOverview::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(#353535 1px, transparent 1px),
    linear-gradient(90deg, #353535 1px, transparent 1px);
  background-size: 40px 40px;
  -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      #ccc 15%,
      #ccc 85%,
      transparent 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      #ccc 15%,
      #ccc 85%,
      transparent 100%
    );
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  z-index: -1;
}

.interactive-project .projectOverview .inner {
  width: 1700px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.interactive-project .projectOverview .text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.interactive-project .projectOverview .text h3 {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: #181818;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: "PartialSans";
  letter-spacing: 1px;
}

.interactive-project .projectOverview .text h3.on {
  -webkit-text-stroke: 0.1px #ff1b60;
}

.interactive-project .projectOverview .text .overviewBg {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%) scale(0.87);
}

.interactive-project .projectOverview .text svg {
  width: 100%;
  max-width: 700px;
  height: 800px;
  display: block;
  overflow: visible;
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.interactive-project .projectOverview .text .guideLine {
  fill: none;
  stroke: #eb5248;
  stroke-width: 14;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* 프로젝트 카드 영역 */
.interactive-project .projectOverview .projects {
  position: relative;
  width: 100%;
  height: 100%;
}

.interactive-project .projectOverview .lists {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.interactive-project .projectOverview .lists li {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 공통 카드 박스 */
.interactive-project .projectOverview .lists li:nth-child(odd) .itemInner {
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interactive-project .projectOverview .lists li .itemInner img {
  width: 100%;
  display: block;
}

.interactive-project .projectOverview .lists li h4 {
  font-weight: normal;
  text-align: center;
}
.interactive-project .projectOverview .lists .rect .itemInner {
  width: 5px;
  height: 5px;
  border: 1px solid #ccc;
  background-color: none;
}
.interactive-project .projectOverview .lists li:nth-child(1) .itemInner {
  font-family: "Galmuri7";
  width: 250px;
  height: 250px;
  color: #00ff00;
}

.interactive-project .projectOverview .lists li:nth-child(3) .itemInner {
  font-family: "ChangwonDanggamAsak";
  width: 280px;
  height: 200px;
  color: #fff;
}

.interactive-project .projectOverview .lists li:nth-child(5) .itemInner {
  font-family: "ChangwonDanggamAsak";
  width: 280px;
  height: 200px;
  color: #fff;
}

.interactive-project .projectOverview .lists li:nth-child(7) .itemInner {
  font-family: "ChangwonDanggamAsak";
  width: 200px;
  height: 350px;
  color: #ff67a1;
}

/* 카드 간 연결선 SVG */
.interactive-project .projectOverview .link-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.interactive-project .projectOverview .link-line {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.5;
}

/* 플로우 텍스트 박스 */
.interactive-project .projectOverview .flowText {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  backdrop-filter: blur(2px);
  overflow: hidden;
  font-family: "PartialSans";
  z-index: 1;
  box-shadow: 1px 3px 8px rgba(255, 255, 255, 0.3);
}

.interactive-project .projectOverview .flowText .wrap {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  width: 100%;
  height: 100%;
  line-height: 50px;
  animation: flow 30s linear infinite;
}
@keyframes flow {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -2520px;
  }
}
.interactive-project .projectOverview .flowText .wrap li {
  display: block;
  flex-shrink: 0;
  height: 30px;
  line-height: 30px;
  width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.interactive-project .projectOverview .flowText .wrap li:nth-child(odd) {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.interactive-project .projectOverview .flowText .wrap img {
  width: 100%;
}

/* ----------------------------------- */
/* projectDetail */
/* ----------------------------------- */

.interactive-project .projectDetail {
  margin-top: 0px;
  width: 100%;
  overflow: hidden;
  height: 800px;
}

.interactive-project .projectDetail {
  perspective: 500px;
}

.interactive-project .projectDetail .titleWrap {
  display: flex;
  justify-content: space-between;
  width: 1700px;
  margin: 30px auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.interactive-project .projectDetail .section_subTitle {
  color: #fff;
  font-size: 2rem;
}

.interactive-project .projectDetail .summary_icon {
  display: flex;
  align-items: center;
}
.interactive-project .projectDetail .projectWrap {
  width: 1700px;
  display: flex;
  margin: 0px auto;
  justify-content: flex-start;
  gap: 50px;
  height: 550px;
}

/* article 카드 */
.interactive-project .projectDetail .projectWrap > article {
  border: 2px solid #eee;
  border-radius: 50px;
  display: flex;
  width: 80%;
  padding: 40px 50px;
  box-sizing: border-box;
  justify-content: center;
  gap: 50px;
  flex-shrink: 0;
  /* background-image: linear-gradient(10deg, #adadad 1%, #5a5a5a 13%, black 55%); */
}

/* 좌측 이미지 영역 */
.interactive-project .projectDetail .projectImg {
  position: relative;
  width: 50%;
}

.interactive-project .projectDetail .projectImg > img {
  height: 360px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.interactive-project .projectDetail .projectImg .mobile {
  width: 24%;
  position: absolute;
  top: -10px;
  right: 70%;
  opacity: 0;
}

.interactive-project .projectDetail .projectImg .mobile img {
  width: 100%;
  height: 100%;
}

.interactive-project .projectDetail .projectImg h4 {
  color: #fff;
  font-size: 3rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 14px 0;
  text-align: center;
  margin-top: 16px;
  transform-origin: center center;
}

/* 우측 텍스트 영역 공통 */
.interactive-project .projectDetail .projectContent {
  position: relative;
  width: 50%;
}

.interactive-project .projectDetail .projectContent h4 {
  width: 100%;
  font-size: 1.8rem;
  display: inline-block;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

/* Description */
.interactive-project .projectDetail .projectContent .description {
  height: 50%;
  opacity: 1;
}

#works .interactive-project .projectDetail .projectContent .description p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ccc;
}

/* Skills */
.interactive-project .projectDetail .projectContent .skills {
  opacity: 1;
  height: 25%;
}

.interactive-project .projectDetail .projectContent .skills ul {
  display: flex;
}

.interactive-project .projectDetail .projectContent .skills li {
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
}

.interactive-project .projectDetail .projectContent .skills li:last-child {
  padding: 5px 8px;
}

.interactive-project .projectDetail .projectContent .skills img {
  width: 100%;
}

/* Shortcut Button */
.interactive-project .projectDetail .projectContent .shortCut {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.interactive-project .projectDetail .projectContent .shortCut a {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  border: 1px solid #fff;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.interactive-project .projectDetail .projectContent .shortCut a:hover {
  background-color: #fff;
  color: #000;
}

/* ----------------------------------- */
/* web-publishing */
/* ----------------------------------- */
.web-publishing {
  height: 100vh;
  background-color: green;
}
/* ----------------------------------- */
/* e-commerce */
/* ----------------------------------- */
.e-commerce {
  height: 100vh;
  background-color: blue;
}
/* ----------------------------------- */
/* team-project */
/* ----------------------------------- */
#works .sectionTitle.is-team {
  background-color: transparent;
}
.team-project {
  height: 100vh;
  background-image: linear-gradient(210deg, #fff8db, #726f65);
}

.team-project .inner {
  width: 1700px;
  padding-top: 200px;
  box-sizing: border-box;
  margin: 0px auto;
}

.team-project .inner h4 {
  font-size: 1.8rem;
}

.team-project .projectDetail {
  display: flex;
  gap: 50px;
}
.team-project .projectDetail > div {
  width: calc(100% / 2 - 25px);
}

.team-project .projectContent h4 {
  margin-bottom: 30px;
}
.team-project .shortCut-wrap {
  display: flex;
  gap: 20px;
}
.team-project .shortCut-wrap > div {
  text-align: center;
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Paperozi";
  border: 1px solid #000;
  cursor: pointer;
}
